@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

body {
  background-color: hsl(216, 12%, 8%);
  font-size: 1rem;
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
}

/* Typography */

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: hsl(0, 0%, 100%);
}

p {
  color: hsl(217, 12%, 63%);
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.5em;
  line-height: 1.5;
  margin-bottom: 1.3em;
}

/* Layout  */

.wrapper {
  width: 80%;
  max-width: 1200px;
  background-color: #141519;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rating-container {
  padding: 1.5em;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1f2630;
  border-radius: 20px;
  min-width: 300px;
}

.container-wrapper {
  max-width: 500px;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .star-png {
  width: 18px;
}

.logo,
.ratings-btn {
  background-color: hsl(213, 19%, 18%);
}

.ratings {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0.4em;
}

.ratings-btn {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(216, 12%, 54%);
  font-weight: 700;
  transition: background-color 250ms;
}

.ratings-btn:hover {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.bg-color {
  background-color: #d8cefe;
}

.btn,
.ratings-btn {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.btn {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: inherit;
  border: none;
  padding: 1em 2em;
  margin-top: 1.5em;
  width: 100%;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: hsl(0, 0%, 100%);
  transition: color 250ms;
}

#submitBtn:disabled {
  cursor: not-allowed;
}

.btn-primary:hover {
  color: #2b283a;
}
